html,
body {
  margin: 0;
  background-color: #0079ff;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.menu-title,
.menu-price,
.menu-description {
  font-family: "Salsa", cursive, "Noto Sans KR", sans-serif;
}

.title h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 3em;
}

.score {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
  border: 2px solid;
}

#player-text,
#computer-text,
#player-score,
#computer-score {
  margin: 0;
}

.player,
.computer {
  width: 50%;
  text-align: center;
}

#player-text,
#computer-text {
  border-bottom: 3px solid;
  padding: 10px 15px;
  font-size: 1.2em;
  letter-spacing: 2px;
}

#player-score,
#computer-score {
  font-size: 2em;
  padding: 5px 10px;
}

.player {
  border-right: 3px solid;
}

#choose {
  margin-top: 40px;
  margin-bottom: 0px;
  letter-spacing: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-container {
  display: flex;
  flex-direction: row;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid;
  margin: 20px;
  transition: transform 0.2s;
}

.circle:hover {
  transform: scale(0.95);
  border: 5px solid;
  cursor: pointer;
}

.circle#rock-circle {
  background-image: url("./images/rock-resized.png");
  background-size: cover;
  background-position: center;
  background-color: #ff0060;
}

.circle#scissors-circle {
  background-image: url("./images/scissors-resized.png");
  background-size: cover;
  background-position: center;
  background-color: #f6fa70;
}

.circle#paper-circle {
  background-image: url("./images/paper-resized.png");
  background-size: cover;
  background-position: center;
  background-color: #00dfa2;
}

.result {
  text-align: center;
}

.count {
  display: flex;
  align-items: center;
  gap: 20px;
}

.count .count-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  font-size: 1.2em;
}

.count-container {
  gap: 10px;
}

#current-count,
#total-count {
  align-self: center;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#computer-selection,
player-selection {
  display: flex;
}

/* 나중에 */
.retry {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0079ff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
